@charset "UTF-8";

body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

h1{
  font-size: 4.4em;
  color: #fff;
}

h3{
  font-size: 2.4em;
  color: #fff;
}

p{
  font-size: 1.4em;
  color: #fff;
}

button{
  background: none;
}

label{
  font-size: 1.4em;
  font-family: butler-bold;
  color: #fff;
  text-align: left;
}

input{
  font-family: butler-bold;
}

textarea{
  font-family: butler-bold;
}

.app-link {
  margin-left: 15px;
}

.app-link:hover {
  text-decoration: none;
}

.button {
  border: 3px solid #6F9771;
  border-radius: 10%;
  padding: 1% 3% 1% 3%;
  font-size: 1em;
  color: rgba(255,255,255, 0.8);
}

.button:hover {
  border: 3px solid #6F9771;
  border-radius: 10%;
  padding: 1% 3% 1% 3%;
  text-decoration: none;
  color: rgba(255,255,255, 0.8);
  background-color: #6F9771;
}

.button-king {
  border: 3px solid #ffa53f;
  border-radius: 10%;
  padding: 1% 3% 1% 3%;
  font-size: 1em;
  color: rgba(255,255,255, 0.8);
  background-color: #ffa53f;
}

.button-king:hover {
  border: 3px solid #ffa53f;
  border-radius: 10%;
  padding: 1% 3% 1% 3%;
  text-decoration: none;
  color: rgba(255,255,255, 0.8);
  background-color: #ffa53f;
}

.apps {
  width: 56px;
  height: 56px;
  opacity: 0.8;
}

.apps:hover {
  opacity: 1;
}

/* Fonts */

@font-face {
  font-family: butler-medium;
  src: url(/fonts/butler-medium.otf);
}

@font-face {
  font-family: butler-bold;
  src: url(/fonts/butler-bold.otf);
}

@font-face {
  font-family: cinzel-bold;
  src: url(/fonts/cinzel-bold.otf);
}

/* FONT STYLING */
.butler-medium {
    font-family: butler-medium;
}

.butler-bold {
font-family: butler-bold;

}

.cinzel-bold {
      font-family: butler-bold;
}

.uppercase {
    text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/* GENERAL CSS */
.no-padding-margin {
    margin: 0;
    padding: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.text-c {
  text-align: center;
}

/* FLEX DISPLAY CSS */
.flex-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
}

.flex-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.align-v {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* KingsCode tab */

.kingscode {
  background: #6F9771;
}

/* Yarno tab */

.yarno {
  background: #528C94;
}

/* Collin tab */

.collin {
  background: #5F7FAF;
}

/* Contact tab */

.contact {
  background: #383838;
}
